
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a .active-class{
  border-bottom: 2px solid blue !important;
  color: brown !important;
}
#Banner{
  width: 100%;
  height: 450px;

}
.navbar-nav a, .navbar a{
  padding: 0px 10px;
  color: white !important;
}
.regs i {
  cursor: pointer;
}